html,
body,
#app,
.content {
  @apply w-full text-black bg-gray-50;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  @apply overflow-x-hidden;
}

main {
  @apply flex flex-col min-h-screen;
}

.content {
  @apply flex-grow mt-4 relative lg:mt-10;
}

.container {
  @apply max-w-9xl mx-auto px-6 text-center;
}

section {
  @apply py-10 lg:py-16;
}

//Typograph
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold;
}

.h1 {
  @apply text-6xl lg:text-7xl;
}
.h2 {
  @apply text-5xl lg:text-6xl;
}
.h3 {
  @apply text-4xl lg:text-5xl;
}
.h4 {
  @apply text-3xl lg:text-4xl;
}
.h5 {
  @apply text-3xl;
}
.h6 {
  @apply text-2xl;
}

//diplay

.display-1 {
  @apply text-7xl lg:text-9xl;
}

.display-2 {
  @apply text-7xl lg:text-8xl;
}

.display-3 {
  @apply text-6xl lg:text-7xl;
}

.paragraph {
  @apply text-xl;
  a {
    @apply underline text-primary;
  }
}

//buttons
.button {
  @apply px-6 h-14 rounded-md border-0 font-medium whitespace-nowrap flex items-center justify-center;
  &:hover {
    opacity: 0.8;
  }
  &__icon {
    &-left {
      @apply mr-3;
    }
    &-right {
      @apply ml-3;
    }
  }

  &--primary {
    @apply text-white bg-primary;
    &-alt {
      @apply hover:text-white hover:bg-primary text-primary border border-primary;
    }
  }
  &--secondary {
    @apply text-white bg-secondary;
  }
  &--sm {
    @apply text-sm h-12;
  }
  &--lg {
    @apply text-lg h-16;
  }
}

//table
table {
  @apply border-collapse overflow-x-auto block max-w-full border-solid border-2 border-gray-200 rounded-md;
  width: fit-content;
  th {
    @apply px-6 py-3 border-b-2 border-gray-200 text-center text-xs font-medium leading-4 tracking-wider uppercase text-gray-500 bg-white;
  }
  td {
    @apply px-6 py-4 whitespace-nowrap text-sm leading-5 text-gray-500 border-b-2 border-gray-200;
  }
}

.no-scroll {
  @apply overflow-y-hidden;
}
