//Tooltip
$tooltip-border-radius: 4px;
$tooltip-color: rgba(16, 16, 16, 0.95);
$tooltip-text-color: #fff;
$tooltip-font-size: 12px;
$tooltip-move: 4px;

//Content Loader
$vue-content-placeholders-primary-color: #ccc !default;
$vue-content-placeholders-secondary-color: #eee !default;
$vue-content-placeholders-border-radius: 4px !default;
$vue-content-placeholders-line-height: 15px !default;
$vue-content-placeholders-spacing: 10px !default;
